Task1_0502. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는 다시 입력하라는 메시지를 출력하세요.

In [3]:
x = int(input("첫 번째 숫자를 입력하세요: "))
y = int(input("두 번째 숫자를 입력하세요: "))

if x % 2==0 and y %2==0:
  result=x*y
  print(f"{x}와 {y}의 곱은 {result}입니다")
elif x % 2==1 and y % 2 ==1:
  result=x+y
  print(f"{x}와 {y}의 합은 {result}입니다")
else:
  print("입력 값이 올바르지 않습니다")

첫 번째 숫자를 입력하세요: 5
두 번째 숫자를 입력하세요: 4
입력 값이 올바르지 않습니다

Task2_0502. 현재 계절 구분 프로그램
- 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [8]:
import datetime

In [14]:
month = int(input("현재 월을 입력하세요:"))

if 3 <= month <= 5:
    print('봄')
elif 6 <= month <= 8:
    print('여름')
elif 9 <= month <= 11:
    print('가을')
else:
    print('겨울')

현재 월을 입력하세요:5
봄

Task3_0502. 1부터 99까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.

1*99, 2*98 ...99*1

Task4_0502. [    ]을 채워서 아래의 출력과 같이 출력하세요.\
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]


###[[1,4,7],[2,5,8],[3,6,9]]

Task5_0502. 주어진 리스트에서 중복된 요소를 제거하고, 남은 요소만을 포함하는 새 리스트를 반환합니다. 순서는 유지해야 합니다.\
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]

In [22]:
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]
# input_list = set([1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7])
# a=list(input_list)
# print(a)
new_list=[input_list[0]]
for i in input_list[1:]:
  if i != new_list[-1]:
    new_list.append(i)
print(new_list)

[1, 2, 3, 4, 5, 6, 7]

Task6_0502. 주어진 문자열을 모스 코드로 변환하는 함수를 작성하세요 공백은 무시하고 알파벳만 변환하세요.\
input_text="Hello World"

In [ ]:
morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..'
    }

Task7_0502. 주어진 비대칭 m×n 매트릭스(2차원 리스트)에서, 모든 대각선 상의 합을 계산하는 함수를 작성하세요. 결과는 각 대각선의 합을 리스트로 반환해야 합니다.

In [ ]:
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]

In [ ]:
[1,6,15,24,20,12]