Task1_0507. 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요.

strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')

In [6]:
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
# sorted_strings = sorted(strings,reverse=True)
# print(sorted_strings)
# sorted_strings = sorted(strings)
# print(sorted_strings)
sorted_strings = sorted(strings, key=lambda x: len(set(x)),reverse=True)
print(sorted_strings)

['bar', 'ca', 'ababa', 'a', 'aaaa']

In [7]:
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
strings=list(strings)
strings.sort(key=lambda x: len(set(x)),reverse=True)
print(list(strings))

['bar', 'ca', 'ababa', 'a', 'aaaa']

Task2_0507. a,b 변수와 연산자를 입력하면 사칙연산을 수행하는 코드를 작성하세요.(eval 사용하는 경우와 안하는 경우)

In [9]:
num=input('5+5:')
result=eval(num)
print(result)

5+5:3*3
9

In [16]:
num=input('5+5:')
maths=['+','-','/','*']
math = {'+':lambda a,b:a+b,'-':lambda a,b:a-b,'/':lambda a,b:a/b,'*':lambda a,b:a*b}

num_list=list(num)
for i in num_list:
  if i in maths:
    num=num.split(i)
    print(math[i](int(num[0]),int(num[1])))  #3*3을 입력시 *:lanbda 3,3:3*3

5+5:3*3
9

Task3_0507. list1에 대해서 아래와 같이 출력하는 코드를 작성하세요.

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.\
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.\
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.\
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.\
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.\
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.\
list1 = ['김부장', '이차장', '김과장', '이대리', '오사원', '김인턴']

In [ ]:
list1 = ['김부장', '이차장', '김과장', '이대리', '오사원', '김인턴']
for i,j in enumerate(list1):
    print(f"인사평가{i+1}번째 해당자는 {j}입니다 회의실A로 오시기 바랍니다")

인사평가1번째 해당자는 김부장입니다 회의실A로 오시기 바랍니다
인사평가2번째 해당자는 이차장입니다 회의실A로 오시기 바랍니다
인사평가3번째 해당자는 김과장입니다 회의실A로 오시기 바랍니다
인사평가4번째 해당자는 이대리입니다 회의실A로 오시기 바랍니다
인사평가5번째 해당자는 오사원입니다 회의실A로 오시기 바랍니다
인사평가6번째 해당자는 김인턴입니다 회의실A로 오시기 바랍니다

Task4_0507. 주어진 문자열 리스트의 요소들을 대문자로 변환하세요.
words = ["hello", "world", "python", "map"]

In [ ]:
words = ["hello", "world", "python", "map"]
result=[word.upper() for word in words]
print(result)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [18]:
words = ["hello", "world", "python", "map"]
print([i.upper() for i in words])

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [22]:
# 인덱스를 이용
words = ["hello", "world", "python", "map"]
for i in range(len(words)):
  words[i]=words[i].upper()
print(words)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [20]:
# 요소를 이용
result=[]
words = ["hello", "world", "python", "map"]
for word in words:
  result.append(word.upper())
print(result)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [21]:
# str.upper는 문자열의 모든 문자를 대문자로 변환하는 메서드
words = ["hello", "world", "python", "map"]
upper_words=list(map(str.upper,words))
print(upper_words)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [24]:
print(type(str.upper))

<class 'method_descriptor'>

Task5_0507. 주어진 리스트에서 'p'로 시작하는 단어만 필터링하세요.

words = ["python", "is", "powerful", "programming", "language", "pandas"]

In [ ]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]
result=[]
for word in words:
  if word[0] == 'p':
    result.append(word)
print(result)

['python', 'powerful', 'programming', 'pandas']

In [25]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]
print([i for i in words if i.startswith('p')])

['python', 'powerful', 'programming', 'pandas']

In [27]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]
p_words=list(filter(lambda x: x.startswith('p'),words))
print(p_words)

['python', 'powerful', 'programming', 'pandas']

Task6_0507. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(2가지 방법)

In [ ]:
# list = [0, 1, 2, 3, 4, 5, 6]
# # del list[list.index(2)]
# # print(list)
# list.remove(2)
# print(list)

from ast import operator
list1=[0,1,2,3,4,5,6]
operation=input("실행할 리스트 연산을 입력하세요 (예:'list1.pop(2)):>")
eval(operation)
print(f"수정된 데이터: {list1}")

실행할 리스트 연산을 입력하세요 (예:'list1.pop(2)):>list1.pop(2)
수정된 데이터: [0, 1, 3, 4, 5, 6]

In [28]:
list = [0, 1, 2, 3, 4, 5, 6]
del list[2]
print(list)

[0, 1, 3, 4, 5, 6]

In [38]:
list = [0, 1, 7, 2, 3, 4, 5, 6]
list.remove(7)    #값
print(list)

[0, 1, 2, 3, 4, 5, 6]

In [30]:
list = [0, 1, 2, 3, 4, 5, 6]
list.pop(2)     #인덱스
print(list)

[0, 1, 3, 4, 5, 6]

Task7_0507. 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요.

[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]\
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]\
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [32]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
a = zip(list1, list2)
for i in a:
    print(i)

list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]
a = zip(list1,list2,list3)
for i in a:
  print(i)

tuple1 = ('a', 'b', 'c')
tuple2 = ('d', 'e', 'f')
a = zip(tuple1, tuple2)
for i in a:
  print(i)

(1, 4)
(2, 5)
(3, 6)
(1, 4, 7)
(2, 5, 8)
(3, 6, 9)
('a', 'd')
('b', 'e')
('c', 'f')

In [41]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]
tuple1 = ('abc','def')
print([i for i in zip(list1,list2)])
print([i for i in zip(list1,list2,list3)])
print([i for i in zip(tuple1[0],tuple1[1])])

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

Task8_0507. url에서 호스트 도메인(news.naver.com)을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [43]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
print(url.split('/')[2])

news.naver.com