Task1_0508. title() 함수를 사용하지 않고 동일한 결과를 출력하세요.

In [1]:
in_name=input("이름을 영문으로 입력해주세요: ").lower()
inname_split=[]; inname_split=in_name.strip().split(" ")
for i in inname_split:
  k=0
  for j in i:
    if k == 0:
      print(j.upper(),end="")
    else: print(j,end="")
    k += 1
  print(" ",end="")

이름을 영문으로 입력해주세요: kim kim kim
Kim Kim Kim

In [ ]:
#교수님 풀이
a = input("이름을 영어로 입력하세요.")

b=a.strip().split(" ")
e =""

for i in range(len(b)):
    c = list(b[i])

    c[0] = c[0].upper()
    d = "".join(c)
    c = []
    e = e + d + " "
print(f"당신의 이름을 바꾸면 {e}입니다.")

Task2_0507. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.

a::b::c

In [ ]:
list1=['a','b','c']
a='::'
list2=a.join(list1)
print(list2)

a::b::c

In [ ]:
#교수님 풀이
li = ['a','b','c']
'::'.join(li)

Task3_0508. 다음을 수행하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 숫자로만 이루어져 있는지 확인합니다.
- 만약 숫자로만 이루어져 있다면, 그 숫자를 정수로 변환하여 100을 더한 결과를 출력합니다.
- 숫자가 아닌 문자가 포함되어 있다면, 사용자에게 숫자만 입력하라는 메시지를 출력합니다.
- 연산이 수행이 완료될 때까지 반복하고 수행이 완료되면 break 합니다.

In [ ]:
while True:
  user=input("숫자를 입력하세요")
  if user.isdigit():
    result=int(user)+100
    print(result)
    break
  else:
    print("숫자를 입력하세요")

숫자를 입력하세요klk
숫자를 입력하세요
숫자를 입력하세요20
120

In [ ]:
#교수님 풀이
while 1:
  num = input('숫자를 입력하세요.')
  if num.isdigit():
      print(int(num)+100)
      break
  else:
      print('숫자만 입력하세요.')

Task4_0508. 문자와 숫자로만 구성된 아이디만 유효한 규칙을 만들려고 한다. 아래 사항을 참조하여 프로그램을 작성하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 알파벳과 숫자로만 이루어져 있는지 확인합니다.
- 만약 조건을 만족한다면 "유효한 아이디입니다"라고 출력합니다.
- 그렇지 않다면, "아이디는 알파벳과 숫자만 포함할 수 있습니다"라고 메시지를 출력합니다.

In [ ]:
user=input("문자 입력")
if user.isalnum():
  print("유효한 아이디입니다")
else:
  print("아이디는 알파벳과 숫자만 포함할 수 있습니다")

문자 입력#####
아이디는 알파벳과 숫자만 포함할 수 있습니다

Task5_0508. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요.
list = []
for i in range(0,20,2):
    list.append(i*i)
print(list)

In [ ]:
list=[]
for i in range(0,20,2):
  list.append(i*i)
print(list)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [5]:
print([i*i for i in range(0, 20, 2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
# 교수님 풀이
print(list(map(lambda x: x*x, range(0,20,2))))

Task6_0508. 유닉스 타임스탬프를 받아서 해당 시간을 datetime.datetime 객체로 변환하고, 그 결과를 출력하는 사용자 함수를 작성하여 임의의 타임스탬프를 입력하여 결과를 출력하세요.

In [ ]:
import time
time.time()

1715155269.178593

In [ ]:
import datetime
timestamp=1715155269

def timestamp_to_datetime(timestamp):
  return datetime.datetime.fromtimestamp(timestamp)

dt=timestamp_to_datetime(timestamp)
print(timestamp)
print(dt)

1715155269
2024-05-08 08:01:09

In [8]:
# 교수님 풀이
def timestamp_to_datetime(timestamp):
  return datetime.fromtimestamp(timestamp)
ts=float(input('timestamp을 입력하세요>'))
dt=timestamp_to_datetime(ts)
print(dt)

timestamp을 입력하세요>1715155269
2024-05-08 08:01:09

Task7_0508. datetime 객체를 문자열로 변환하는 사용자 함수를 작성하여 datetime 객체를 "YYYY-MM-DD HH:MM:SS" 형식의 문자열로 변환하고 출력하세요

In [18]:
! pip install pytz

Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (2023.4)

In [20]:
import datetime
import pytz

def datetime_to_string(dt):
  soeul_timezone=pytz.timezone('Asia/Seoul')
  dt_korea=dt.astimezone(soeul_timezone)
  return dt_korea.strftime("%Y-%m-%d %H:%M:%S")

date_string=input("datetime을 입력하세요>")
dt=datetime.datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S")
dt=dt.replace(tzinfo=pytz.ufc)
s=datetime_to_string(dt)
print(s)

datetime을 입력하세요>2024-05-10 15:30:00

AttributeError: module 'pytz' has no attribute 'ufc'

In [ ]:
import datetime
import pytz

def datetime_to_string(dt):
    seoul_timezone = pytz.timezone('Asia/Seoul')
    dt_korea = dt.astimezone(seoul_timezone)
    return dt_korea.strftime("%Y-%m-%d %H:%M:%S")

date_string = input("날짜와 시간을 입력하세요 (YYYY-MM-DD HH:MM:SS 형식)> ")
dt = datetime.datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S")
dt = dt.replace(tzinfo=pytz.utc)
s = datetime_to_string(dt)
print(s)

In [ ]:
import datetime
def datetime_to_str(dt):
  s_dt=dt.strftime("%Y-%m-%d %H:%M:%S")
  print(s_dt)

s=datetime.datetime.now()
datetime_to_str(s)

2024-05-08 08:46:21

In [17]:
# 교수님풀이
import datetime
def datetime_to_string(dt):
    return dt.strftime('%Y-%m-%d %H:%M:%S')

dt = input('datetime을 입력하세요> ')
dt = datetime.datetime.strptime(dt, '%Y-%m-%d %H:%M:%S')
s = datetime_to_string(dt)
print(s)

datetime을 입력하세요> 2024-05-08 08:46:21
2024-05-08 08:46:21

In [23]:
# Task7번 타임존을 한국 기준으로 바꾸어 출력되게 하는 코드 아래와 같습니다.
from datetime import datetime

# def str_date (date) :
#   return date.strftime('%Y-%m-%d %H:%M:%S')

def datetime_to_string(dt):
    soeul_timezone = pytz.timezone('Asia/Seoul')
    dt_korea = dt.astimezone(soeul_timezone)
    return dt_korea.strftime('%Y-%m-%d %H:%M:%S')

# result = str_date(datetime.now())
result = datetime_to_string(datetime.now())
print(result , type(result))

2024-05-09 14:05:22 <class 'str'>

Task8_0508. 올해 경과된 날짜수 계산하세요.

In [10]:
import datetime

current_date=datetime.date.today()

start_of_year=datetime.date(current_date.year,1,1)

days_passed=(current_date-start_of_year).days

print(f'올해 경과된 날짜 수: {days_passed}일')

올해 경과된 날짜 수: 129일

In [ ]:
# 오늘은 올해 몇일째 되는 날인가?
import time
numday=time.localtime(time.time())
print(numday)
numday.tm_yday

Task9_0508. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [12]:
import datetime

today = datetime.date.today()
print(today)

result = today.strftime("%Y-%m-%d 오늘은 %A 입니다")
print(result)

2024-05-09
2024-05-09 오늘은 Thursday 입니다

In [13]:
# 교수님 풀이
import time

weekdays = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']
t = time.localtime()
today = f'{t.tm_year}-{t.tm_mon}-{t.tm_mday}'
week = weekdays[t.tm_wday]
# print('%s 오늘은 %s입니다' %(today, week))
print(f'{today} 오늘은 {week}입니다.')

2024-5-9 오늘은 목요일입니다.

Task10_0508. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.(1ms=0.001초)

In [14]:
import time

start = time.time()
sn = sum(range(1, 1000001))
end = time.time()
print(f"1에서 백만까지 더하는데 걸린 시간 : {(end - start):.3f}초")

minute, second = divmod((end-start), 60)
h, m = divmod(minute, 60)
print(f'{int(h)}시간 {int(minute)}분 {second:.3f}초')

1에서 백만까지 더하는데 걸린 시간 : 0.021초
0시간 0분 0.021초

In [15]:
# 교수님풀이
import time

t1 = time.time()
t2 = 0
result = 0

for i in range(1000000):
    result += i+1
else:
    t2 = time.time()

print(f'백만까지 더한 값: {result}\n걸린 시간: {round((t2-t1)*1000)} (ms)')

백만까지 더한 값: 500000500000
걸린 시간: 158 (ms)