Task1_0509. 주어진 텍스트에서 문자 빈도를 아래와 같이 출력하세요.(사용자 함수 사용)

가장 많이 나온 문자 5개를 뽑아 봤습니다.\
[e] -> [97]회 나타남\
[t] -> [85]회 나타남\
[a] -> [78]회 나타남\
[o] -> [73]회 나타남\
[s] -> [60]회 나타남

In [2]:
with open('mydata.txt','w') as f:
    f.write(
'''
a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again


if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late
''')
with open('mydata.txt', 'r') as f:
    data = f.read()
    print(data)

a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again


if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

In [23]:
words_list=data #데이터 받음
words_list=data.replace('.','').replace('.','').replace('\n','').replace("'","").replace('!','').lower()

word_frequency={}
for word in words_list:
    if word.isalpha():
        if word in word_frequency:
            word_frequency[word] += 1
        else:
            word_frequency[word] = 1

alphabet = sorted(word_frequency.items(), key=lambda x: x[1], reverse=True)[:5]

print('=' * 50)
print('알파벳 빈도수 상위 5개를 출력합니다')
for word, count in alphabet:
    print(f"[{word}] -> [{count}]회 나타남")

==================================================
알파벳 빈도수 상위 5개를 출력합니다
[e] -> [97]회 나타남
[t] -> [85]회 나타남
[a] -> [78]회 나타남
[o] -> [73]회 나타남
[n] -> [60]회 나타남

Task2_0509.  람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요.

[1,2,3,4,5] -> [1,4,9,16,25]\
[1,2,3,4,5] -> [1,2]

In [40]:
list1=[1,2,3,4,5]
f = list(map(lambda x: x**2, list1))
print(f)
c = list(filter(lambda x: x<=2 , list1))
print(c)

[1, 4, 9, 16, 25]
[1, 2]

Task3_0509. [1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

In [44]:
list1=[1,-3,2,0,-5,6]
f=list(filter(lambda x: x>0, list1))
print(f)        #내장함수

[1, 2, 6]

In [45]:
def func1(num):
  return num > 0
list1=[1,-3,2,0,-5,6]
f=list(filter(func1,list1))
print(f)    #사용자함수

[1, 2, 6]

Task4_0509. **args를 이용하여 아래와 같이 출력할 수 있는 사용자 함수 func2를 작성하세요.

Width: 100\
Height: 200\
Other arguments: {'color': 'red', 'thickness': 5}

Width: 100\
Height: 200\
Other arguments: {'color': 'red', 'thickness': 5, 'type': 'large'}

In [62]:
def func2(width, height, **args):
  print(f"Width: {width}")
  print(f"Height: {height}")
  print(f"Other arguments", args)
func2(100, 200, color="red", thickness=5)
func2(100,200,color='red',thickness=5,type='large')

Width: 100
Height: 200
Other arguments {'color': 'red', 'thickness': 5}
Width: 100
Height: 200
Other arguments {'color': 'red', 'thickness': 5, 'type': 'large'}

In [64]:
def func2(width,height, **args):
  return width,height,args
func2(100,200,color='red',thickness=5,type='large')

(100, 200, {'color': 'red', 'thickness': 5, 'type': 'large'})

Task5_0509. 아래와 같은 결과를 얻을 수 있도록 사용자 함수 func3를 작성하세요.

Width: 100, Height: 200, Color: blue, Thickness: 1\
Width: 100, Height: 200, Color: red, Thickness: 15

In [71]:
def func3(width, height, **args):
  print(f"Width: {width},Height: {height}, Color: {args['color']}, Thickness: {args['thickness']}")
func3(100, 200, color="Blue", thickness=1)
func3(100, 200, color="red", thickness=15)

Width: 100,Height: 200, Color: Blue, Thickness: 1
Width: 100,Height: 200, Color: red, Thickness: 15

Task6_0509. 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.

In [74]:
def math(*args):
  return sum(args) / len(args)
print(math(int(input('숫자1:')),int(input('숫자2:')),int(input('숫자3:'))))

숫자1:1
숫자2:2
숫자3:3
2.0

Task7_0509. 원의 면적과 둘레의 길이를 구하는 사용자 함수를 작성하여 반지름이 5와 10일때 면적과 둘레를 구하세요(반올림:round())

Task8_0509. 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램을 작성하세요.

Task9_0509. 위의 문제를 *args를 사용한 사용자 함수 bignum을 작성하여 bignum(20,1,30)과 bignum(20,10,50,70, 100)의 결과를 출력하세요.

Task10_0509. 위의 계산을 연산자를 choice로 가변적인 숫자들을 *args로 사용한 사용자 함수 cal을 이용하여 다음을 수행하세요.

cal('*',1,2,3,4,5)
cal('+',1,2,3,4,5,6,7)
cal('-',1,2,3,4,5,6,7)
cal('/',10,3)