제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [ ]:
x=10
if x > 5:
  print("x는 5보다  큽니다")
elif x==5:
  print("x는 5입니다")
else:
  print("x는 5보다 작습니다.")

x는 5보다  큽니다

In [ ]:
x=10
if x >=5:
  print('x는 5보다 크거나 같습니다')
else:
  print('x는 5보다 작습니다')

x는 5보다 크거나 같습니다

In [ ]:
# 각 조건이 서로 독립적일때 if문을 연속해서 사용
x=10
y=5

if x>5:
  print('x는 5보다 큽니다')
if y<10:
  print('y는 10보다 작습니다')
if x>y:
  print('x는 y보다 큽니다')

x는 5보다 큽니다
y는 10보다 작습니다
x는 y보다 큽니다

In [ ]:
x=10
y=5

if x>5:
  if y>=3:
    print('x는 5보다 크고 y는 3보다 크거나 같습니다')
  else:
    print('x는 5보다 크고 y는 3보다 작습니다')
else:
  print('x는 5보다 작거나 같습니다')

x는 5보다 크고 y는 3보다 크거나 같습니다

In [ ]:
# Q. 이중 조건문을 사용하여 코드를 작성하세요(조건내용은 자유, 단, if문 if~elif~else 중첩하여 사용)
# a=int(input('숫자'))
# if a>80:
#   print('비만')
# elif a>60:
#   print('정상')
# elif a>40:
#   print('저체')
# else:
#   print('소멸')

# score=int(input('점수'))
# if score<70:
#   print('점수가 70점 미만입니다. 채점을 진행하지 않습니다.')
# if score>=90:
#   if score >=85:
#     print('A+')
#   else:
#     print('A')
# elif score >=80:
#   if score >=85:
#     print('B+')
#   else:
#     print('B')
# elif score>=70:
#   if score>=75:
#     print('C+')
#   else:
#     print('C')

score=int(input('점수'))
if score<70:
  print('점수가 70점 미만입니다. 채점을 진행하지 않습니다.')
else:
  if score>=90:
    print('A')
  elif score >=80:
    print('B')
  else:
    print('C')

점수60
점수10
점수가 70점 미만입니다. 채점을 진행하지 않습니다.

In [ ]:
# Q.listdata=['a','b','c']에서 조건문을 이용해서 아래와 같이 출력하세요
a가 listdata에 있습니다
b가 listdata에 있습니다
c가 listdata에 있습니다

In [ ]:
listdata=['a','b','c']
# if 'a'in listdata:
#   print('a가 listdata에 있습니다')
# if 'b'in listdata:
#   print('b가 listdata에 있습니다')
# if 'c'in listdata:
#   print('c가 listdata에 있습니다')
for i in listdata:
  if i in listdata:
    print(f'{i}가 listdata에 있습니다')

a가 listdata에 있습니다
b가 listdata에 있습니다
c가 listdata에 있습니다

In [ ]:
# Q. 돈이 10000원 이상 있으면 있으면 택시를 타고 돈이 없으면 걸어간다 를 만족하는 조건문을 작성하세요

In [ ]:
a=int(input('돈'))
if a>=10000:    #만원 이상이 있으면 택시탑승
  print('택시탑승')
else:    #만원 미민이면 걸어가기
  print('걷자')

돈9999
걷자

In [ ]:
# Q. 조건부 표현식을 한줄의 조건문으로 작성하세요.
score=70
if score>=60:
  message='success'
else:
  message='failure'
print(message)

success

In [ ]:
score=70
['success' if score >= 60 else 'failure']

['success']

In [ ]:
# Q.수입(income)과 지출금액(spend)을 비교해서 수입이 많으면 저축 증가, 반대이면 빚이 증가 프로그램 작성

income=int(input('수입'))
spend=int(input('지출'))
if income > spend:
  print('저축증가')
elif income < spend:
  print('채무증가')
else:
  print('현상유지')

수입1
지출1
현상유지

#### 반복문 (Loop Statements):
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [ ]:
for i in range(10):
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
# for 루프는 시퀀스(리스트,튜플,문자열 등)나 반복 가능한 객체(iterable)의 요소를 순회
for i in range(5):
  # print(i)
  print(i,end=' ')
print('\n')
count=0
while count < 5:
  print(count,end=' ')
  count += 1

0 1 2 3 4

0 1 2 3 4

In [ ]:
# 리스트를 순회하는 예
for i in [1,2,3,4,5]:
  print(i,end=' ')
print('\n')
# 문자열을 순회하는 예
for char in "hello":
  print(char,end=' ')

1 2 3 4 5

h e l l o

In [ ]:
# while 루프는 주어진 조건이 참(True)인 동안 코드 블록을 반복
# 조건이 거짓(False)이 되면 루프가 종료
count=0
sum=0
while count <5:
  sum += count
  print(sum,end=' ')
  count += 1

0 1 3 6 10

In [ ]:
# Q. d에서 반복문을 사용하여 97 98 99을 출력하세요
d={'a':97,'b':98,'c':99}
for key in d:
  print(d[key],end=' ')

97 98 99

In [ ]:
print(d.keys())
print(type(d.keys()))

dict_keys(['a', 'b', 'c'])
<class 'dict_keys'>

In [ ]:
print(d.values())
print(type(d.values()))

dict_values([97, 98, 99])
<class 'dict_values'>

Task1_0429. input_str을 아래와 같이 단어로 분리하여 출력하세요.

input_str = "Hello, world! How are you today? I am fine. Thank you!"

['Hello', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you', '']

In [ ]:
input_str = "Hello, world! How are you today? I am fine. Thank you!"
print(input_str.split(), end=' ')

['Hello,', 'world!', 'How', 'are', 'you', 'today?', 'I', 'am', 'fine.', 'Thank', 'you!']

Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [ ]:
# f1=0b1111010 #2진수
# f2=0o172 #8진수
# f3=0x7a #16진수
# print(f1)
# print(f2)
# print(f3)
a=122
b=bin(a)
print(b)
o=oct(a)
print(o)
h=hex(a)
print(h)

0b1111010
0o172
0x7a

Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

In [ ]:
num1=int(input('첫번째 숫자'))
num2=int(input('두번째 숫자'))
f1 = num1 * num2
f2 = f1 + 10
print(f'곱하고 더하기10한 수는 {f2}')

첫번째 숫자1
두번째 숫자2
곱하고 더하기10한 수는 12

Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

In [ ]:
list1=['Java', 'C', 'JavaScript']
del list1[1]
list1.append('Python')
print(list1)

['Java', 'JavaScript', 'Python']

Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

In [ ]:
a='Incredible'
b=a[:3]
# print(b)
c=a[-3:]
# print(c)
d=b+c
print(d)

Incble

Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

In [ ]:
name=input('이름입력')
user1={'Alice':'alice@example.com'}
if name in user1:
  print(user1[name])
else:
  print('사용자 없음')

이름입력Alice
alice@example.com

Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)

In [ ]:
a=(1, 2, 3, 4, 5)
b=(4, 5, 6, 7, 8)
c=set(a)
d=set(b)
print(c&d)

{4, 5}

Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

- 사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
- 입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
- 이름이 'John'인 사용자의 정보만 출력하세요.
- 전체 사용자의 평균 나이를 계산하고 출력하세요.
1. 사용자 데이터:
- 이름: John
- 나이: 28
- 좋아하는 색상: Blue
2. 사용자 데이터:
- 이름: Alice
- 나이: 24
- 좋아하는 색상: Red
3. 사용자 데이터:
- 이름: Maria
- 나이: 32
- 좋아하는 색상: Green

In [ ]:
# users=[]
# name=input('이름')
# age=int(input('나이'))
# col=input('색상')
# user={'이름':name, '나이':age, '색상':col}
# print(user)
# for user in users:
#   if user['이름']=='John':
#     print(user)

이름John
나이28
색상Blue
{'이름': 'John', '나이': 28, '색상': 'Blue'}

re.split() 함수의 동작:
- 주어진 문자열에서 공백, 쉼표, 마침표, 물음표, 느낌표를 포함하여 연속된 어떤 조합이라도 하나의 구분자로 취급하고, 이에 따라 문자열을 분리

정규 표현식 구성 요소:
- 대괄호([ ]): 대괄호는 문자 클래스를 만들며 대괄호 안에 포함된 어떤 문자와도 일치할 수 있다. 여기서는 공백( ), 쉼표(,), 마침표(.), 물음표(?), 느낌표(!)가 포함되어 있어 이 중 어떤 한 문자와도 일치할 수 있다.
- 플러스 기호(+): 이 기호는 직전의 요소가 하나 이상 반복될 때 사용. 즉, `[ ,.?!]+`는 공백, 쉼표, 마침표, 물음표, 느낌표 중 하나 이상 연속된 시퀀스와 일치. 이를 통해 문자열을 분리할 때 하나의 구분자만이 아닌, 여러 구분자가 연속적으로 위치해 있는 경우에도 단일 구분점으로 취급할 수 있다.

#### 파이썬에서 "모든 것이 객체"
파이썬 내에서 데이터와 함수, 모듈, 클래스 등 모든 것이 객체로 취급된다는 것을 의미
- 기본 데이터 타입(예: 정수, 실수, 문자열 등)을 포함하여 모든 데이터가 객체. 각 데이터 타입은 특정 클래스의 인스턴스로, 해당 데이터 타입의 메소드와 속성을 가진다. 예를 들어, 정수는 int 클래스의 인스턴스로, 여러 가지 메소드(예: bit_length(), __add__() 등)를 사용할 수 있습니다.

- 파이썬에서 함수도 객체로 취급. 이는 함수를 변수에 할당하거나, 다른 함수의 인자로 전달하거나, 리스트나 딕셔너리 같은 데이터 구조에 저장할 수 있음을 의미

- 파이썬에서 클래스와 모듈 또한 객체. 클래스는 type의 인스턴스로, 메소드와 속성을 포함할 수 있다. 모듈도 객체로 취급되어, 모듈 내의 함수나 변수 등을 속성으로 가질 수 있다.

type 함수가 반환하는 결과가 클래스 이름(예: <class 'list'>)으로 나오는 것은, 해당 객체가 해당 클래스의 인스턴스라는 것을 의미

dict_values 클래스의 이해:
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 뷰 객체를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공.

In [18]:
d['b'] = 100
print(d)
print(d.values())

{'b': 100}
dict_values([100])

#### 제어문 관련 키워드:
- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작

In [3]:

for i in range(5):
    if i == 3:
        break
    print(i,end='')
print('\n\n')

for i in range(5):
    if i ==3:
        continue
    print(i,end='')

012


0124

In [4]:

for i in range(10):
    if i == 5:
        break
    print(i, end = ' ')
print('\n\n\n')
for i in range(10):
    if i % 2 ==0:
        continue
    print(i, end = ' ')

0 1 2 3 4



1 3 5 7 9

In [5]:

# for 또는 while 루프에 else 절을 사용하면, 루프가 정상적으로 완료된 후에 실행할 코드를 지정
for i in range(5):
    print(i, end=' ')
else:
    print('\n루프 완\n\n\n')

count = 0
while count < 5:
    print(count, end = ' ')
    count += 1
else:
    print('\n루프 완')

0 1 2 3 4
루프 완



0 1 2 3 4
루프 완

In [6]:

#break 문을 사용하여 루프를 중단하면 else 절은 실행되지 않음
for i in range(5):
    if i == 3:
        print(f'{i}에서 루프를 중단합니다.')
        break
else:
    print('루프가 정상적으로 완료되었습니다')

3에서 루프를 중단합니다.

zip() 함수
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환
- 데이터를 병렬로 처리할 때 유용

In [7]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']

zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [8]:

# Q. 두 개의 리스트(이름과 성)를 사용하여 각 사람의 전체 이름을 생성하세요.
first_names =["John", "Jane","Corey","Travis"]
last_names = ["Doe", "Smith", "Turner", "Williams"]

comb = zip(first_names, last_names)
comb_list = list(comb)

for i in comb_list:
    print(i[0],i[1])

John Doe
Jane Smith
Corey Turner
Travis Williams

In [9]:

# 예시
first_names =["John", "Jane","Corey","Travis"]
last_names = ["Doe", "Smith", "Turner", "Williams"]

full_name = [first + " " + last for first, last in zip(first_names, last_names)]
print(full_name)

['John Doe', 'Jane Smith', 'Corey Turner', 'Travis Williams']

In [10]:

# Q. 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평균 점수를 계산하세요.
math_scores = [88,92,79,93,85]
english_scores = [90,91,85,88,86]

average_score = [(math + englisg) / 2 for math, englisg in zip(math_scores, english_scores)]
print(average_score)

[89.0, 91.5, 82.0, 90.5, 85.5]

In [11]:

# Q. 상품 이름과 가격이 각각 다른 리스트에 저장되어 있을 때, 상품명과 가격을 튜플로 묶어 출력하세요
products = ["apple", "banana", "cherry"]
prices = [1.2 , 0.5, 2.5]

for product, price in zip(products, prices):
    print(f'상품명: {product} \n가격: {price}$')

상품명: apple
가격: 1.2$
상품명: banana
가격: 0.5$
상품명: cherry
가격: 2.5$

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 균등 분포로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 정규 분포에서 난수를 반환.

In [12]:
import random as rd

print(rd.random())

print(rd.randint(1,10))

items = [1,2,3,4,5]
print(rd.choice(items))

rd.shuffle(items)
print(items)

mean = 0
std_dev = 1

print(rd.gauss(mean, std_dev))

0.6074669945373308
6
3
[4, 5, 1, 2, 3]
0.8931337071493781

In [13]:

from random import shuffle as sh
# from ~~~ import ~~로 random.shuffle()같은걸 그냥 shuffle()로 줄여쓰기 가능
male = ['철수','갑돌','로미오','이몽룡','온돌']
sh(male)
print(male)

['철수', '온돌', '갑돌', '로미오', '이몽룡']

Task1_0430. 남녀 파트너 정해주기 프로그램(zip)

같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [28]:
from random import shuffle

In [31]:
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

shuffle(male)
print(male)
shuffle(female)
print(female)
couples=list(zip(male,female))
print(couples)

for i,couple in enumerate(couples):
  print(f'커플{[i+1]}:{couple[0]},{couple[1]}')

['갑돌', '온돌', '로미오', '철수', '이몽룡']
['줄리엣', '평강', '성춘향', '미미', '갑순']
[('갑돌', '줄리엣'), ('온돌', '평강'), ('로미오', '성춘향'), ('철수', '미미'), ('이몽룡', '갑순')]
커플[1]:갑돌,줄리엣
커플[2]:온돌,평강
커플[3]:로미오,성춘향
커플[4]:철수,미미
커플[5]:이몽룡,갑순

zip 함수는 이터레이터를 반환하고 이 이터레이터를 단 한번만 소비할 수 있음. list()함수를 사용하여 이터레이터의 모든 원소를 한번에 소비해 버리면, 그 결과는 빈 이터레이터가 되기 때문에 리스트로 다시 저장한 후 사용해야 됨.

In [54]:
shuffle(male)
print(male)
shuffle(female)
print(female)
couples=zip(male,female)
print(list(couples))
couples=zip(male,female)
for i,couple in enumerate(couples):
  print(f'커플{[i+1]}:{couple[0]},{couple[1]}')

['철수', '온돌', '갑돌', '이몽룡', '로미오']
['갑순', '성춘향', '줄리엣', '평강', '미미']
[('철수', '갑순'), ('온돌', '성춘향'), ('갑돌', '줄리엣'), ('이몽룡', '평강'), ('로미오', '미미')]
커플[1]:철수,갑순
커플[2]:온돌,성춘향
커플[3]:갑돌,줄리엣
커플[4]:이몽룡,평강
커플[5]:로미오,미미

Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.

In [34]:
import random
import string #문자열 상수를 제공하는 모듈로, 여기서는 알파벳 문자와 숫자를 포함

characters=string.ascii_letters+string.digits #모든 소문자와 대문자 알파벳을 포함(a-z,A-Z).
password=''.join(random.choice(characters)for i in range(8))
print("랜덤 비밀번호:",password)

랜덤 비밀번호: AhjX5RQb

In [41]:
# 대문자,소문자,숫자가 한번씩은 반드시 포함되어야 하는 경우
import random
import string

upper=random.choice(string.ascii_uppercase)
lower=random.choice(string.ascii_uppercase)
digit=random.choice(string.digits)

characters=string.ascii_letters+string.digits  #모든 소문자와 대문자 알파벳을 포함(a-z, A-Z)
rest=''.join(random.choice(characters)for i in range(5))
# 모든 요소를 하나의 문자열로 합치기
password=upper + lower + digit + rest
# 비밀번호 임의로 섞기
print(password)
password=''.join(random.sample(password, len(password)))#선택할 시퀀스,선택할 요소
print("랜덤 비밀번호:",password)

CI1UnMQx
랜덤 비밀번호: 1MInCQxU

Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

In [45]:
kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']
num=int(input('발표자 수 입력>'))
ans=random.sample(kita,num) #중복 없이 요소를 선택
print(ans)

발표자 수 입력>5
['신현진', '이명신', '이현석', '소지승', '김도원']

Task4_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 작성하세요.

In [46]:
num=int(input('구구단을 출력할 숫자를 입력하세요:'))
for i in range(1,10):
  print(f'{num}x{i}={num*i}')

구구단을 출력할 숫자를 입력하세요:8
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72

In [59]:
#구구단을 전부 출력하세요
for i in range(2, 10):
    for j in range(1, 10):
        print(f"{i} * {j} = {i * j}")
    print('\n')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [61]:
#구구단을 횡방향으로 출력하세요
for i in range(1, 10):
    for j in range(2, 10):
        print(f"{j} * {i} = {j * i}", end="\t")
    print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

f-string에서{}안에는 변수 분만 아니라 Python 표현식도 올 수 있음.

표현식(Expression)
- 하나 이상의 값, 변수, 연산자, 함수 호출 등을 조합하여 평가(evaluate)될 때 값을 생성하거나 반환하는 코드
- 표현식은 계산되어 값이 되는 모든 것을 의미

표현식의 예시:
- 수치 계산: 2 + 3는 5라는 값을 반환
- 문자열 조합: "Hello " + "World"는 "Hello World"라는 문자열을 생성
- 논리 연산: x > 5는 x의 값에 따라 True 또는 False를 반환
- 함수 호출: sum([1, 2, 3])은 리스트의 합인 6을 반환
- 조건식: x if x > 0 else -x는 x가 양수면 x를, 음수면 -x를 반환

In [78]:
for i in range(2, 10):
  print(f"{' '*5}{i}단{' '*5}", end='\t')
print()

for i in range(2, 10):
  print("="*12,end='\t')
print()

for i in range(1, 10):
    for j in range(2, 10):
        print(f"{j} * {i} = {j * i}", end="\t")
    print()

     2단     	     3단     	     4단     	     5단     	     6단     	     7단     	     8단     	     9단
============	============	============	============	============	============	============	============
2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

Task5_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 팩토리얼을 계산하세요.

In [79]:
num=int(input('팩토리얼을 계산할 숫자를 입력하세요'))
factorial=1
for i in range(1,num+1):
  factorial *= i
print(f"{num}으 ㅣ팩토리얼은 {factorial}입니다.")

팩토리얼을 계산할 숫자를 입력하세요10
10으 ㅣ팩토리얼은 3628800입니다.

Task6_0430. 0부터 20까지의 숫자 중에서 짝수와 홀수를 분리하여 두 개의 리스트에 저장하세요.

In [80]:
num1=[]
num2=[]
for i in range(21):
  if i % 2==0:
    num1.append(i)
  else:
    num2.append(i)
print(num1)
print(num2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Task7_0430. 주어진 리스트에서 최대값을 찾아 출력하세요. \
number=[34,78,2,45,99,23]

In [82]:
numbers=[34,78,2,45,99,23]
max=0
for i in numbers:
  if i > max:
    max=i

print(max)

99

Task8_0430.  1부터 10 사이의 임의의 숫자를 맞추는 게임을 만드세요. 사용자가 숫자를 맞출 때까지 입력을 계속 받으며, 정답을 맞추면 게임을 종료하세요.

In [85]:
#숫자 맞추기 게임
import random
target_number = random.randint(1,10)
while True:
  guess = int(input("1부터 10 사이의 숫자를 맞춰보세요:"))
  if guess > target_number:
    print("더 작은 숫자입니다!")
  elif guess < target_number:
    print("더 큰 숫자입니다!")
  else:
    print("정답입니다!")
    break

1부터 10 사이의 숫자를 맞춰보세요:7
더 작은 숫자입니다!
1부터 10 사이의 숫자를 맞춰보세요:5
더 작은 숫자입니다!
1부터 10 사이의 숫자를 맞춰보세요:3
더 작은 숫자입니다!
1부터 10 사이의 숫자를 맞춰보세요:1
정답입니다!

Task9_0430. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.

In [89]:
birth_year=int(input('태어난 연도를 입력하세요:'))
zodiacs=['쥐','소','호랑이','토끼','용','뱀','말','양','원숭이','닭','개','돼지']
zodiac_index=(birth_year-1924)%12
zodiac=zodiacs[zodiac_index]
print(f"{birth_year}년은 {zodiac}띠입니다")

태어난 연도를 입력하세요:1968
1968년은 원숭이띠입니다

In [93]:
y=['원숭이','닭','개','돼지','쥐','소','호랑이','토끼','용','뱀','말','양']
x=int(input('태어난 연도를 입력하세요:'))
print(f'{y[x%12]}띠입니다.')

태어난 연도를 입력하세요:1968
원숭이띠입니다.

Task10_0430. 아래 사항을 반영하여 커피 자판기 프로그램을 작성하세요.
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [95]:
coffee=5
while True:
  money=int(input('돈을 주시면 커피를 드립니다'))
  if money==300:
    print('커피를 맛있게 드세요')
    coffee -=1
  elif money >300:
    print('거스름돈 %d원을 받으시고 커피를 맛있게 드세요'%(money-300))
    coffee -=1
  else:
    print('금액이 부족하여 %d원을 반환합니다'%(money))
  if coffee==0:
    print('죄송합니다 커피가 다 소진되었습니다. 다음에 또 찾아주시길 바랍니다')
    break

돈을 주시면 커피를 드립니다300
커피를 맛있게 드세요
돈을 주시면 커피를 드립니다200
금액이 부족하여 200원을 반환합니다
돈을 주시면 커피를 드립니다5000
거스름돈 4700원을 받으시고 커피를 맛있게 드세요

KeyboardInterrupt: Interrupted by user

In [105]:
# Q 로또 번호 6개를 6세트 출력하는 코드를 작성하세요(중복안됨)
import random
for i in range(6):
  lotto1=random.sample(range(1,46),6)
  print(lotto1)

[13, 32, 41, 17, 45, 22]
[37, 10, 27, 26, 39, 17]
[37, 14, 31, 21, 19, 20]
[18, 40, 43, 29, 26, 25]
[13, 16, 12, 35, 33, 1]
[40, 21, 39, 9, 4, 36]

In [112]:
# Q n개 그룹으로 분류하는 코드를 작성하세요
kita=['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결',
        '김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

n=int(input('그룹수를 입력하세요'))
random.shuffle(kita)
print(kita)
groups=[kita[i::n]for i in range(n)]
print(groups)
for idx,group in enumerate(groups):
  print(f'그룹{idx+1}:{group}')

그룹수를 입력하세요5
['소지승', '이상협', '김성현', '최환욱', '이범석', '김하준', '이도헌', '김홍준', '김도원', '김도현', '류윤선', '신현진', '이명신', '서보선', '황강민', '이현석', '윤호준', '박지환', '박윤경', '김한결']
[['소지승', '김하준', '류윤선', '이현석'], ['이상협', '이도헌', '신현진', '윤호준'], ['김성현', '김홍준', '이명신', '박지환'], ['최환욱', '김도원', '서보선', '박윤경'], ['이범석', '김도현', '황강민', '김한결']]
그룹1:['소지승', '김하준', '류윤선', '이현석']
그룹2:['이상협', '이도헌', '신현진', '윤호준']
그룹3:['김성현', '김홍준', '이명신', '박지환']
그룹4:['최환욱', '김도원', '서보선', '박윤경']
그룹5:['이범석', '김도현', '황강민', '김한결']

In [122]:
# Q 1부터 100까지의 정수중 5에서 95까지의 합을 구하세요
# total = sum(range(5, 96))
# print("5에서 95까지의 합:", total)
sum=0
i=1
while i <= 100:
  if i >=5 and i <=95:
    sum += i
  i+=1
print(sum)

4550

In [125]:
# Q while문을 사용해서 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해 보세요
i=1
sum=0
while i <= 1000:
  if i % 3==0 and i % 5==0:
    sum += i
  i += 1
print(sum)

33165

In [126]:
# Q 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요
import datetime
import pytz
tz=pytz.timezone('Asia/Seoul')
now=datetime.datetime.now(tz)
now_time=now.hour
now_time #현재 시각
if now_time >= 12:
  print('오후입니다')
else:
  print('오전입니다')

오후입니다

In [131]:
# 다양한 오류 입력에 대한 혀결 방안 추가 필요
time=input("현재 시간을 입력하세요(ex. 15시 30분, 15시):")

if '시' not in  time:
  print('형식에 맞춰 작성해 주세요')
elif int(time.split('시')[0])>=0 and int(time.split('시')[0])<12:
  print('오전입니다')
elif int(time.split('시')[0])>=12 and int(time.split('시')[0])<24:
  print('오후입니다')
else:
  print('시간을 다시 입력해 주세요')

현재 시간을 입력하세요(ex. 15시 30분, 15시):15
형식에 맞춰 작성해 주세요

####POP 함수
- 리스트와 같은 자료 구조에서 주로 사용되는 함수
- 이 함수는 특정 인덱스에 위치한 요소를 리스트에서 제거하고 해당 요소를 반환

In [133]:
fruits=['apple','banana','cherry','date']

#인덱스 2의 요소 (cherry)를 제거하고 반환
removed_fruit = fruits.pop(2)
print(removed_fruit)
print(fruits)

#리스트의 마지막 요소 (date)를 제거하고 반환
last_fruit=fruits.pop()
print(last_fruit)
print(fruits)

cherry
['apple', 'banana', 'date']
date
['apple', 'banana']

In [ ]:
# Q. 가위 바위 보 게임을 코딩을 프로그래밍 하세요.

In [143]:
import random

def determine_winner(user_choice, computer_choice):
    if user_choice == computer_choice:

        return "무승부"
    elif (user_choice == "가위" and computer_choice == "보") or \
         (user_choice == "바위" and computer_choice == "가위") or \
         (user_choice == "보" and computer_choice == "바위"):
        return "사용자 승리"
    else:
        return "컴퓨터 승리"

choices = ["가위", "바위", "보"]

user_choice = input("가위, 바위, 보 중 하나를 선택하세요: ")
while user_choice not in choices:
    print("잘못된 입력입니다. 다시 입력하세요.")
    user_choice = input("가위, 바위, 보 중 하나를 선택하세요: ")

computer_choice = random.choice(choices)

print(f"사용자: {user_choice}")
print(f"컴퓨터: {computer_choice}")

winner = determine_winner(user_choice, computer_choice)
print(winner)

가위, 바위, 보 중 하나를 선택하세요: 비
잘못된 입력입니다. 다시 입력하세요.
가위, 바위, 보 중 하나를 선택하세요: 보
사용자: 보
컴퓨터: 바위
사용자 승리