제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [2]:
x=10
if x > 5:
  print("x는 5보다  큽니다")
elif x==5:
  print("x는 5입니다")
else:
  print("x는 5보다 작습니다.")

x는 5보다  큽니다

In [3]:
x=10
if x >=5:
  print('x는 5보다 크거나 같습니다')
else:
  print('x는 5보다 작습니다')

x는 5보다 크거나 같습니다

In [4]:
# 각 조건이 서로 독립적일때 if문을 연속해서 사용
x=10
y=5

if x>5:
  print('x는 5보다 큽니다')
if y<10:
  print('y는 10보다 작습니다')
if x>y:
  print('x는 y보다 큽니다')

x는 5보다 큽니다
y는 10보다 작습니다
x는 y보다 큽니다

In [5]:
x=10
y=5

if x>5:
  if y>=3:
    print('x는 5보다 크고 y는 3보다 크거나 같습니다')
  else:
    print('x는 5보다 크고 y는 3보다 작습니다')
else:
  print('x는 5보다 작거나 같습니다')

x는 5보다 크고 y는 3보다 크거나 같습니다

In [13]:
# Q. 이중 조건문을 사용하여 코드를 작성하세요(조건내용은 자유, 단, if문 if~elif~else 중첩하여 사용)
# a=int(input('숫자'))
# if a>80:
#   print('비만')
# elif a>60:
#   print('정상')
# elif a>40:
#   print('저체')
# else:
#   print('소멸')

# score=int(input('점수'))
# if score<70:
#   print('점수가 70점 미만입니다. 채점을 진행하지 않습니다.')
# if score>=90:
#   if score >=85:
#     print('A+')
#   else:
#     print('A')
# elif score >=80:
#   if score >=85:
#     print('B+')
#   else:
#     print('B')
# elif score>=70:
#   if score>=75:
#     print('C+')
#   else:
#     print('C')

score=int(input('점수'))
if score<70:
  print('점수가 70점 미만입니다. 채점을 진행하지 않습니다.')
else:
  if score>=90:
    print('A')
  elif score >=80:
    print('B')
  else:
    print('C')

점수60
점수10
점수가 70점 미만입니다. 채점을 진행하지 않습니다.

In [8]:
# Q.listdata=['a','b','c']에서 조건문을 이용해서 아래와 같이 출력하세요
a가 listdata에 있습니다
b가 listdata에 있습니다
c가 listdata에 있습니다

In [16]:
listdata=['a','b','c']
# if 'a'in listdata:
#   print('a가 listdata에 있습니다')
# if 'b'in listdata:
#   print('b가 listdata에 있습니다')
# if 'c'in listdata:
#   print('c가 listdata에 있습니다')
for i in listdata:
  if i in listdata:
    print(f'{i}가 listdata에 있습니다')

a가 listdata에 있습니다
b가 listdata에 있습니다
c가 listdata에 있습니다

In [ ]:
# Q. 돈이 10000원 이상 있으면 있으면 택시를 타고 돈이 없으면 걸어간다 를 만족하는 조건문을 작성하세요

In [18]:
a=int(input('돈'))
if a>=10000:    #만원 이상이 있으면 택시탑승
  print('택시탑승')
else:    #만원 미민이면 걸어가기
  print('걷자')

돈9999
걷자

In [25]:
# Q. 조건부 표현식을 한줄의 조건문으로 작성하세요.
score=70
if score>=60:
  message='success'
else:
  message='failure'
print(message)

success

In [24]:
score=70
['success' if score >= 60 else 'failure']

['success']

In [31]:
# Q.수입(income)과 지출금액(spend)을 비교해서 수입이 많으면 저축 증가, 반대이면 빚이 증가 프로그램 작성

income=int(input('수입'))
spend=int(input('지출'))
if income > spend:
  print('저축증가')
elif income < spend:
  print('채무증가')
else:
  print('현상유지')

수입1
지출1
현상유지

#### 반복문 (Loop Statements):
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [33]:
for i in range(10):
  print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [39]:
# for 루프는 시퀀스(리스트,튜플,문자열 등)나 반복 가능한 객체(iterable)의 요소를 순회
for i in range(5):
  # print(i)
  print(i,end=' ')
print('\n')
count=0
while count < 5:
  print(count,end=' ')
  count += 1

0 1 2 3 4

0 1 2 3 4

In [43]:
# 리스트를 순회하는 예
for i in [1,2,3,4,5]:
  print(i,end=' ')
print('\n')
# 문자열을 순회하는 예
for char in "hello":
  print(char,end=' ')

1 2 3 4 5

h e l l o

In [47]:
# while 루프는 주어진 조건이 참(True)인 동안 코드 블록을 반복
# 조건이 거짓(False)이 되면 루프가 종료
count=0
sum=0
while count <5:
  sum += count
  print(sum,end=' ')
  count += 1

0 1 3 6 10

In [49]:
# Q. d에서 반복문을 사용하여 97 98 99을 출력하세요
d={'a':97,'b':98,'c':99}
for key in d:
  print(d[key],end=' ')

97 98 99

In [51]:
print(d.keys())
print(type(d.keys()))

dict_keys(['a', 'b', 'c'])
<class 'dict_keys'>

In [52]:
print(d.values())
print(type(d.values()))

dict_values([97, 98, 99])
<class 'dict_values'>

Task1_0429. input_str을 아래와 같이 단어로 분리하여 출력하세요.

input_str = "Hello, world! How are you today? I am fine. Thank you!"

['Hello', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you', '']

In [53]:
input_str = "Hello, world! How are you today? I am fine. Thank you!"
print(input_str.split(), end=' ')

['Hello,', 'world!', 'How', 'are', 'you', 'today?', 'I', 'am', 'fine.', 'Thank', 'you!']

Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [63]:
# f1=0b1111010 #2진수
# f2=0o172 #8진수
# f3=0x7a #16진수
# print(f1)
# print(f2)
# print(f3)
a=122
b=bin(a)
print(b)
o=oct(a)
print(o)
h=hex(a)
print(h)

0b1111010
0o172
0x7a

Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

In [55]:
num1=int(input('첫번째 숫자'))
num2=int(input('두번째 숫자'))
f1 = num1 * num2
f2 = f1 + 10
print(f'곱하고 더하기10한 수는 {f2}')

첫번째 숫자1
두번째 숫자2
곱하고 더하기10한 수는 12

Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

In [56]:
list1=['Java', 'C', 'JavaScript']
del list1[1]
list1.append('Python')
print(list1)

['Java', 'JavaScript', 'Python']

Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

In [57]:
a='Incredible'
b=a[:3]
# print(b)
c=a[-3:]
# print(c)
d=b+c
print(d)

Incble

Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

In [58]:
name=input('이름입력')
user1={'Alice':'alice@example.com'}
if name in user1:
  print(user1[name])
else:
  print('사용자 없음')

이름입력Alice
alice@example.com

Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)

In [59]:
a=(1, 2, 3, 4, 5)
b=(4, 5, 6, 7, 8)
c=set(a)
d=set(b)
print(c&d)

{4, 5}

Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

- 사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
- 입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
- 이름이 'John'인 사용자의 정보만 출력하세요.
- 전체 사용자의 평균 나이를 계산하고 출력하세요.
1. 사용자 데이터:
- 이름: John
- 나이: 28
- 좋아하는 색상: Blue
2. 사용자 데이터:
- 이름: Alice
- 나이: 24
- 좋아하는 색상: Red
3. 사용자 데이터:
- 이름: Maria
- 나이: 32
- 좋아하는 색상: Green

In [60]:
users=[]
name=input('이름')
age=int(input('나이'))
col=input('색상')
user={'이름':name, '나이':age, '색상':col}
print(user)
for user in users:
  if user['이름']=='John':
    print(user)

이름John
나이28
색상Blue
{'이름': 'John', '나이': 28, '색상': 'Blue'}